/*
Table of Contents

  Root
    Fonts
    Clear Defaults
    Scroll Bar 
    
  Body
  
  Header

  Main Content
    Section 1
    Section 2
    Section 3
  Animations

  Media Queries

*/

/*Root*/
:root {
  --background-color: #181818;
  --primary-color: #fff;
  --secondary-color: #000;
  --complementary-color: #F87D37;
  --complementary-radial-gradient: radial-gradient(#F87D37, #FBAA23);
  --complementary-linear-gradient: linear-gradient(130deg, #F87D37, #FBAA23 100%);
}
/*Fonts*/
@font-face {
  font-family: 'iceland';
  src: url('../fonts/Iceland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-thin';
  src: url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-mono';
  src: url('../fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Clear Defaults*/
*, *::before, *::after {
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: raleway, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
html{
  font-size: 16px;
  
  scrollbar-color: var(--complementary-color) var(--background-color); /*#8f75ee */
  scrollbar-width: thin;
}
img {
  width: 4rem;
}

/* Scroll Bar */
::-webkit-scrollbar{
  width: 1.1rem;
  background: transparent;
}
::-webkit-scrollbar-track{
  background: var(--background-color);
}
::-webkit-scrollbar-thumb{
  background-image: var(--complementary-linear-gradient);
  border: .2rem solid var(--background-color);
  border-radius: 20px;
}

/******************************************************************************************************/

/*Body*/
body {
  background-color: var(--background-color);
  position: relative;
  margin: 0;
  min-height: 100vh;
}

/******************************************************************************************************/  

/*Header*/
.logo {
  position: fixed;
  top: 0rem;
  left: 2%;
  z-index: 2;
  width: 10rem;
}

.contact-button {
  position: absolute;
  top: 2rem;
  right: 5%;
  z-index: 2;
  font-size: 1.3em;
  padding: 0.5rem 3rem;
  border: solid 0.15rem var(--complementary-color);
  border-radius: 50px;
}

/* gradient border */
.contact-button::before{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: 115%;
  width: 104%;
  transform: scale();
  border-radius: 50px; 
  padding: 0.2rem; 
  background-image: var(--complementary-linear-gradient); 
  mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


/******************************************************************************************************/

/*Main Content*/
main {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section 1 */
#section1{
  position: relative;
  width: 100%;
  height: calc(100vw * 0.6625); /*create bg-image aspect ratio: 1920/1272*/
  min-height: 102vh;
  background-color: hwb(0 50% 50%);
  background-image: url(../imgFiles/paul-earle-xJ2tjuUHD9M-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  background-blend-mode: multiply;
  z-index: -3;
}


.title {
  font-family: iceland;
  font-size: 12rem;
}
.name:nth-of-type(1) {
  position: relative;
  top: 15rem;
  left: 15.4%;
}
.d-logo {
  position: relative;
  transform: scale(7);
}
.fst-name {
  position: relative;
  top: -7rem;
  left: 2.5rem;
}

.name:nth-of-type(2) {
  position: relative;
  top: 10rem;
  left: 16%;
}
.p-logo {
  position: relative;
  transform: scale(7);
}
.lst-name {
  position: relative;
  top: -9.5rem;
  left: 10.5rem;
  padding-bottom: 10rem;
}
.subtitle {
  font-size: 2.6rem;
  font-family: roboto-mono;
  width: 60%;
  color: transparent;
  background-image: var(--complementary-radial-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  top: -12rem;
  left: 33%;
}
.skew {
  width: 100%;
}


/* Section 2 */
#section2 {
  width: 100%;
  min-height: 100vh;
  transform: skewY(-5deg);
  z-index: -2;
}
.skewright1 {
  background-color: var(--background-color);
  transform: skewY(-5deg);
}
.skewleft1 {
  background-color: var(--background-color);
  transform: skewY(10deg);
}

.quote > span {
  color: transparent;
  background-image: var(--complementary-radial-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: underline solid var(--complementary-color) 0.15rem;
  cursor: pointer;
}
.quote > span:hover {
  text-decoration: underline dashed var(--complementary-color) 0.1rem;
}

.quote {
  font-size: 2.8rem;
  position: relative;
  text-align: center;
  width: fit-content;
}
.quote:nth-child(1) {
  padding: 15% 0 20% 5%;
}

.quote:nth-child(2) {
  top: 0;
  right: 1px;
  padding: 10% 5% 10% 0;
  

}

.bg-shapes {
  position: relative;
  top: 50rem;
}











/* Section 3 */
#section3 {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-color: hwb(0 11.5% 88.5%);
  transform: skewY(-5deg);
  /* background-image: radial-gradient(hwb(0 35% 65%) -200%,  hwb(0 9% 91%) 90%);
  background-size: 400% 400%;
  background-position: 50% 100%; */
}
.skewright2 {
  background-color: hwb(0 11.5% 88.5%);
  transform: skewY(-5deg);
}
.skewleft2 {
  background-color: hwb(0 11.5% 88.5%);
  transform: skewY(10deg);
}



/******************************************************************************************************/

/*Animations*/






/******************************************************************************************************/

/****Media Queries*****/

@media (min-width: 1600px) {
  #section1{
    max-height: 200vh;
  }
}
@media (max-width: 1000px) and (max-height: 650px), 
       (min-width: 1000px) and (max-height: 350px) 
{
  #section1{
    min-height: 180vh;
    max-height: 1000vh;
  }
}

/******************************************************************************************************/