/*
Table of Contents

  Root
    Fonts
    Clear Defaults
    Scroll Bar 
    
  Body
  
  Header

  Main Content

  Animations

  Media Queries

*/

/*Root*/
:root {
  --background-color: #181818;
  --primary-color: #fff;
  --secondary-color: #000;
  --complementary-color: #F87D37;
  --complementary-radial-gradient: radial-gradient(#F87D37, #FBAA23);
  --complementary-linear-gradient: linear-gradient(155deg, #F87D37, #FBAA23 100%);
}
/*Fonts*/
@font-face {
  font-family: 'iceland';
  src: url('../fonts/Iceland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-thin';
  src: url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-mono';
  src: url('../fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Clear Defaults*/
*, *::before, *::after {
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: raleway, sans-serif;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
  scrollbar-color: var(--complementary-color) var(--background-color); /*#8f75ee */
  scrollbar-width: thin;
}
img {
  width: 4rem;
}

/* Scroll Bar */
::-webkit-scrollbar{
  width: 1.1rem;
  background: transparent;
}
::-webkit-scrollbar-track{
  background: var(--background-color);
}
::-webkit-scrollbar-thumb{
  background-image: var(--complementary-linear-gradient);
  border: .2rem solid var(--background-color);
  border-radius: 20px;
}

/******************************************************************************************************/

/*Body*/
body {
  background-color: var(--background-color);
  position: relative;
  margin: 0;
  min-height: 100vh;
}

/******************************************************************************************************/  

/*Header*/
header {
  position: absolute;
  top: 2%;
  right: 10%;
  z-index: 2;
}
.contact-button {
  font-size: 1.3em;
  padding: 0.5rem 3rem;
  border: solid 0.19rem var(--complementary-color);
  border-radius: 50px;
}

/* gradient border */
.contact-button::before{
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  height: 72%;
  width: 100%;
  border-radius: 50px; 
  padding: 0.2rem; 
  background-image: var(--complementary-linear-gradient); 
  mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


/******************************************************************************************************/

/*Main Content*/
main {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section1{
  width: 100%;
  min-height: 102vh;
  height: calc(100vw * 0.6625); /*create bg-image aspect ratio: 1920/1272*/
  background-color: hwb(0 50% 50%);
  background-image: url(../imgFiles/paul-earle-xJ2tjuUHD9M-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  background-blend-mode: multiply;
}
#section2,
#section3{
  width: 100%;
  min-height: 100vh;
}

/* .d-logo {
  position: relative;
  top: 50%;
  left: 50%;
}
.p-logo {
  position: relative;
}
.d-logo img,
.p-logo img {
  width: 25rem;
  position: relative;
}
.title {
  font-family: iceland;
  font-size: clamp(5rem, 12vw, 16rem);
  position: absolute;
  top: 0;
  left: 0;
} */

























/******************************************************************************************************/

/*Animations*/






/******************************************************************************************************/

/****Media Queries*****/





/******************************************************************************************************/