---
---



<section id="section4" data-sec="4">
  <div class="max-width-container">
    <div class="subheading" appear-on-scroll>
      Interested in working <br />
      <span class="">together?</span>
    </div>

    <div id="contact" class="heading" appear-on-scroll>Get in Touch</div>

    <div style="display: grid">
      <!--grid div for safari-->
      <div class="contacts">
        <div class="contact-label" appear-on-scroll>Email</div>
        <div class="contact-label" appear-on-scroll>Phone Number</div>
        <div class="separator" appear-on-scroll></div>
        <div
          class="contact-info"
          title="Copy"
          data-info="pulberdan@gmail.com"
          copy-info
          appear-on-scroll>
          pulberdan@gmail.com
          <div class="contact-info-tip">- Copy to Clipboard</div>
        </div>
        <div class="contact-info" title="Copy" data-info="8643109101" copy-info appear-on-scroll>
          (864) 310-9101
          <div class="contact-info-tip">- Copy to Clipboard</div>
        </div>
      </div>
    </div>

    <div class="links" appear-on-scroll>
      <a
        href="https://www.facebook.com/Pulber-Web-Development-100247022807941/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="View my Facebook page">
        <img loading="lazy" src="/imgs/home/logos/facebook-logo.svg" alt="Facebook" />
      </a>
      <div class="contact-form-button" data-dropdown>
        <button class="button-border" data-dropdown-button>
          <img
            loading="lazy"
            src="/imgs/home/shapes/mail-icon.svg"
            alt="mail-icon"
            data-dropdown-button />
        </button>
        <form class="contact-form-container">
          <div class="contact-bg-shapes">
            <img loading="lazy" src="/imgs/home/shapes/zigzag.svg" alt="zigzag" />
            <img
              loading="lazy"
              src="/imgs/home/shapes/special-triangle.svg"
              alt="special-triangle" />
            <img loading="lazy" src="/imgs/home/shapes/semi-circle.svg" alt="semi-circle" />
            <img loading="lazy" src="/imgs/home/shapes/zigzag.svg" alt="zigzag" />
          </div>
          <div class="x-button" data-dropdown-button>
            <div class="line1" data-dropdown-button></div>
            <div class="line2" data-dropdown-button></div>
          </div>
          <div class="contact-form">
            <h1>Send me a <span>quick</span><br />message</h1>
            <h2>Name</h2>
            <input class="contact-from-input" type="text" name="name" placeholder="..." required />
            <p class="input-validation"></p>
            <h2>Email</h2>
            <input
              class="contact-from-input"
              type="email"
              name="email"
              placeholder="..."
              pattern="[a-zA-Z0-9!#$%&'*+/=?^_‘{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_‘{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
              required />
            <p class="input-validation"></p>
            <h2>Message</h2>
            <div class="message-container">
              <textarea
                class="message contact-from-input"
                name="message"
                rows="5"
                placeholder="..."
                required></textarea>
              <div class="m-border"></div>
            </div>
            <p class="input-validation"></p>
            <button id="contact-form-button" type="submit" class="submit">
              Submit
              <div class="button-bg"></div>
              <div class="loading-animation"></div>
              <div class="contact-form-submit-message"></div>
            </button>
          </div>
        </form>
      </div>
      <a
        href="https://www.linkedin.com/in/daniel-pulber/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="View my LinkedIn page">
        <img loading="lazy" src="/imgs/home/logos/linkedin-logo.webp" alt="LinkedIn" />
      </a>
    </div>
  </div>
</section>

  

<style>
	
</style>
