---
---

<header>
  <img loading="lazy" class="logo" src="./imgFiles/logos/logo.svg" alt="logo" />
  <div class="btns-container">
      <a href="#projects" class="projects-button" aria-label="View Projects Section">Projects</a>
      <a href="#contact" class="contact-button" aria-label="View Contact Section"
        >Contact
        <div class="button-bg"></div
      ></a>
  </div>
  <div id="scrollbar">
      <a href="#section1" class="scrollbar-circle section1" aria-label="View Title Section">
        <div class="scrollbar-inner-circle"></div>
        <div class="scrollbar-activeLine"></div>
      </a>
      <a href="#section2" class="scrollbar-circle section2" aria-label="View Scroll Line Section">
        <div class="scrollbar-inner-circle"></div>
        <div class="scrollbar-activeLine"></div>
      </a>
      <a href="#projects" class="scrollbar-circle section3" aria-label="View Project Section">
        <div class="scrollbar-inner-circle"></div>
        <div class="scrollbar-activeLine"></div>
      </a>
      <a href="#contact" class="scrollbar-circle section4" aria-label="View Contact Section">
        <div class="scrollbar-inner-circle"></div>
        <div class="scrollbar-activeLine"></div>
      </a>
  </div>
</header>

  

<style>
	
</style>
