<section id="projects" data-sec="3">
  <div class="skew">
    <div class="skew-left"></div>
    <div class="skew-right"></div>
  </div>
  <div class="max-width-container">
    <div class="heading" appear-on-scroll>Projects</div>
    <section class="projects-container">
      <article class="project">
        <img
          loading="lazy"
          src="/imgs/home/projects/TOSY-site/imgs/home.webp"
          class="scale-on-hover"
          alt="Main Project Image" />
        <h2>TOSY Site</h2>
        <section class="project-popup">
          <div class="x-button">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
          <h1>TOSY Site</h1>
          <div class="project-details-container">
            <figure>
              <img
                loading="lazy"
                class="main-project-image"
                src="/imgs/home/projects/TOSY-site/imgs/home.webp"
                alt="Main Project Image" />
              <div class="project-images">
                <img
                  loading="lazy"
                  class="project-image"
                  src="/imgs/home/projects/TOSY-site/imgs/home.webp"
                  alt="Other Project Image" />
                <img
                  loading="lazy"
                  class="project-image"
                  src="/imgs/home/projects/TOSY-site/imgs/merch.webp"
                  alt="Other Project Image" />
                <img
                  loading="lazy"
                  class="project-image"
                  src="/imgs/home/projects/TOSY-site/imgs/cart.webp"
                  alt="Other Project Image" />
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/TOSY-site/imgs/most-wanted.webp" />
              </div>
            </figure>
            <aside>
              <summary>
                A NextJs Application with a MongoDB Backend that shows merchandising products,
                upcoming events, and other relevant content. The Next.js framework provides
                optimized performance, automatic code splitting, and appear-on-scroll optimization,
                while MongoDB is a flexible NoSQL database for storing site data.
                <br /> View On 
                <a
                  href="https://github.com/DanRDT/TOSYouth--website/tree/master/client"
                  aria-label="View Github Page for TOSY Site"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GitHub</a
                >
              </summary>
              <div class="tech-stack">
                <h2>Tech Stack</h2>
                <figure class="rotating-logos-container">
                  <div class="rotating-logos">
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="NextJS"
                      src="/imgs/home/projects/logos/nextjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="ReactJS"
                      src="/imgs/home/projects/logos/reactjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="MongoDB"
                      src="/imgs/home/projects/TOSY-site/logos/mongodb.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Nodemailer"
                      src="/imgs/home/projects/TOSY-site/logos/nodemailer.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Printify"
                      src="/imgs/home/projects/TOSY-site/logos/printify.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="NextJS"
                      src="/imgs/home/projects/logos/nextjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="ReactJS"
                      src="/imgs/home/projects/logos/reactjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="MongoDB"
                      src="/imgs/home/projects/TOSY-site/logos/mongodb.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Nodemailer"
                      src="/imgs/home/projects/TOSY-site/logos/nodemailer.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Printify"
                      src="/imgs/home/projects/TOSY-site/logos/printify.webp"
                      alt="Tech Stack Icon" />
                  </div>
                </figure>
              </div>
            </aside>
          </div>
          <a
            href="https://www.tos-youth.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="project-link"
            aria-label="View live TOSY Site">
            <img
              loading="lazy"
              src="/imgs/home/projects/TOSY-site/logos/tosy-logo-dark.webp"
              alt="Project Logo Dark" />
            <img
              loading="lazy"
              class="image-inverted"
              src="/imgs/home/projects/TOSY-site/logos/tosy-logo-light.webp"
              alt="Project Logo Light" />
              <img class="check-it-out" src="/imgs/home/shapes/check-it-out.svg" alt="">
          </a>
        </section>
      </article>
      <article class="project">
        <img
          loading="lazy"
          src="/imgs/home/projects/TOSY-Admin-Console/imgs/login.webp"
          class="scale-on-hover"
          alt="Main Project Image" />
        <h2>TOSY Admin Console</h2>
        <section class="project-popup">
          <div class="x-button">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
          <h1>TOSY Admin Console</h1>
          <div class="project-details-container">
            <figure>
              <img
                loading="lazy"
                class="main-project-image"
                alt="Main Project Image"
                src="/imgs/home/projects/TOSY-Admin-Console/imgs/login.webp" />
              <div class="project-images">
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/TOSY-Admin-Console/imgs/login.webp" />
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/TOSY-Admin-Console/imgs/merch.webp" />
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/TOSY-Admin-Console/imgs/events.webp" />
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/TOSY-Admin-Console/imgs/order.webp" />
              </div>
            </figure>
            <aside>
              <summary>
                This is a NextJs App with a MongoDB/Mongoose Backend and Auth0 Authentication to
                edit the content of the main site. It allows its users to edit the merch, events,
                orders, etc with ease. It also connects to the printify api allowing users to pull
                merch of the site and put it on the site.
                <br /> View On 
                <a
                  href="https://github.com/DanRDT/TOSYouth--website/tree/master/tosy-editor"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="View Github Page for TOSY Admin Console"
                  >GitHub</a
                >
              </summary>
              <div class="tech-stack">
                <h2>Tech Stack</h2>
                <figure class="rotating-logos-container">
                  <div class="rotating-logos">
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="NextJS"
                      src="/imgs/home/projects/logos/nextjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="ReactJS"
                      src="/imgs/home/projects/logos/reactjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="MongoDB"
                      src="/imgs/home/projects/TOSY-Admin-Console/logos/mongodb.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Auth0"
                      src="/imgs/home/projects/TOSY-Admin-Console/logos/auth0.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Mongoose"
                      src="/imgs/home/projects/TOSY-Admin-Console/logos/mongoose.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="NextJS"
                      src="/imgs/home/projects/logos/nextjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="ReactJS"
                      src="/imgs/home/projects/logos/reactjs.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="MongoDB"
                      src="/imgs/home/projects/TOSY-Admin-Console/logos/mongodb.svg"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Auth0"
                      src="/imgs/home/projects/TOSY-Admin-Console/logos/auth0.webp"
                      alt="Tech Stack Icon" />
                    <img
                      loading="lazy"
                      title="Mongoose"
                      src="/imgs/home/projects/TOSY-Admin-Console/logos/mongoose.webp"
                      alt="Tech Stack Icon" />
                  </div>
                </figure>
              </div>
            </aside>
          </div>
          <a
            href="https://admin.tos-youth.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="project-link"
            aria-label="View Live TOSY Admin Console">
            <img
              loading="lazy"
              src="/imgs/home/projects/TOSY-Admin-Console/logos/tosy-logo-dark.webp"
              alt="Project Logo Dark" />
            <img
              loading="lazy"
              class="image-inverted"
              src="/imgs/home/projects/TOSY-Admin-Console/logos/tosy-logo-light.webp"
              alt="Project Logo Light" />
              <img class="check-it-out" src="/imgs/home/shapes/check-it-out.svg" alt="">
          </a>
        </section>
      </article>
      <article class="project">
        <img
          loading="lazy"
          src="/imgs/home/projects/scroll-svg/npm-page.webp"
          class="scale-on-hover"
          alt="Main Project Image" />
        <h2>Scroll SVG Library</h2>
        <section class="project-popup">
          <div class="x-button">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
          <h1>Scroll SVG Library</h1>
          <div class="project-details-container">
            <figure>
              <img
                loading="lazy"
                class="main-project-image"
                alt="Main Project Image"
                src="/imgs/home/projects/scroll-svg/npm-page.webp" />
              <div class="project-images">
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/scroll-svg/npm-page.webp" />
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/scroll-svg/demo1.webp" />
                <img
                  loading="lazy"
                  class="project-image"
                  alt="Other Project Image"
                  src="/imgs/home/projects/scroll-svg/demo2.webp" />
              </div>
            </figure>
            <aside>
              <summary>
                This is a JavaScript/Typescript NPM package that I created to help animate SVGs on
                scroll. Using this package, one can just animate and customize the scroll animation
                with one line of code.
                <br/>
                View On 
                <a
                  href="https://github.com/DanRDT/scroll-svg"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="View Github Page for Scroll SVG Library"
                  >GitHub</a
                > 
                | 
                <a
                  href="https://www.npmjs.com/package/scroll-svg"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="View NPM Page for Scroll SVG Library"
                  >NPM</a
                >
              </summary>
              <div class="tech-stack">
                <h2>Tech Stack</h2>
                <figure class="rotating-logos-container">
                  <div class="rotating-logos">
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="CSS Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="HTML Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="JavaScript Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="TypeScript Icon" />
                    <img
                      loading="lazy"
                      title="NPM Package Library"
                      src="/imgs/home/projects/logos/npm.svg"
                      alt="NPM Package Library Icon" />
                    <img
                      loading="lazy"
                      title="GitHub Actions"
                      src="/imgs/home/projects/logos/github-actions.png"
                      alt="GitHub Actions Icon" />
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="CSS Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="HTML Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="JavaScript Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="TypeScript Icon" />
                    <img
                      loading="lazy"
                      title="NPM Package Library"
                      src="/imgs/home/projects/logos/npm.svg"
                      alt="NPM Package Library Icon" />
                    <img
                      loading="lazy"
                      title="GitHub Actions"
                      src="/imgs/home/projects/logos/github-actions.png"
                      alt="GitHub Actions Icon" />
                    <img
                      loading="lazy"
                      title="CSS"
                      src="/imgs/home/projects/logos/css.svg"
                      alt="CSS Icon" />
                    <img
                      loading="lazy"
                      title="HTML"
                      src="/imgs/home/projects/logos/html.svg"
                      alt="HTML Icon" />
                    <img
                      loading="lazy"
                      title="Javascript"
                      src="/imgs/home/projects/logos/javascript.webp"
                      alt="JavaScript Icon" />
                    <img
                      loading="lazy"
                      title="Typescript"
                      src="/imgs/home/projects/logos/typescript.svg"
                      alt="TypeScript Icon" />
                    <img
                      loading="lazy"
                      title="NPM Package Library"
                      src="/imgs/home/projects/logos/npm.svg"
                      alt="NPM Package Library Icon" />
                    <img
                      loading="lazy"
                      title="GitHub Actions"
                      src="/imgs/home/projects/logos/github-actions.png"
                      alt="GitHub Actions Icon" />
                  </div>
                </figure>
              </div>
            </aside>
          </div>
          <a
            href="/scroll-svg"
            target="_blank"
            rel="noopener noreferrer"
            class="project-link"
            aria-label="View NPM package for Scroll SVG">
            <img loading="lazy" src="/imgs/home/logos/logo.svg" alt="Project Logo Dark" style="scale: 1.5;"/>
            <img
              style="transform: translateX(-50%) scale(1.5);"
              loading="lazy"
              class="image-inverted"
              src="/imgs/home/logos/logo-dark.svg"
              alt="Project Logo Light" />
              <img class="check-it-out" src="/imgs/home/shapes/check-it-out.svg" alt="">
          </a>
        </section>
      </article>
    </section>
    <a
      class="github-btn"
      href="https://github.com/DanRDT"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="View my Github Page">
      <img loading="lazy" src="/imgs/home/logos/github-light.svg" alt="Github Logo" />
    </a>
  </div>
</section>
