---
---


<section id="section1" data-sec="1">
  <div class="max-width-container">
    <div class="name">
      <img class="d-logo" src="/imgs/home/logos/d-logo.svg" alt="d-logo" />
      <h1 class="title">aniel</h1>
    </div>
    <div class="name">
      <img class="p-logo" src="/imgs/home/logos/d-logo.svg" alt="p-logo" />
      <h1 class="title">ulber</h1>
    </div>
    <h1 class="subtitle">Software Developer</h1>

    <div class="scroll-arrow">
      <svg viewBox="0 0 500 900" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          id="top-arrow"
          d="M146 42L250.5 146.5L355 42"
          stroke="white"
          stroke-width="40"
          stroke-linecap="square" />
        <path
          class="middle-arrow"
          d="M146 181L250.5 285.5L355 181"
          stroke="white"
          stroke-width="40"
          stroke-linecap="square" />
        <path
          class="middle-arrow"
          d="M146 320L250.5 424.5L355 320"
          stroke="white"
          stroke-width="40"
          stroke-linecap="square" />
        <path
          id="bottom-arrow"
          d="M146 459L250.5 563.5L355 459"
          stroke="white"
          stroke-width="40"
          stroke-linecap="square" />
      </svg>
    </div>
  </div>
</section>


<style>
	
</style>
