---
import Body from '../layouts/Body.astro';
import Card from '../components/Card.astro';
---

<Body title="Daniel Pulber • Web Developer | Software Engineer" description="Daniel Pulber is a software engineer with a specialization in front-end web development, and he has extensive skills and experience in JavaScript, ReactJs, and TypeScript. He is proficient in using JavaScript to create dynamic and interactive user interfaces, as well as implementing complex features such as data visualization and real-time updates.">
	
</Body>

<style>
	
</style>
