---
export interface Props {
	title: string
  description?: string
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="keywords" content="Portfolio Website Daniel Pulber" />
    <meta content={description} name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: dark)" href="/imgs/home/logos/favicon-dark-theme.png" />
    <link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: light)" href="/imgs/home/logos/favicon-light-theme.png" />
  </head>

  <body>
    <slot/>
  </body>
</html>